main {
    max-width: 800px;
    margin: 0 auto;
}

h2 {
    margin-bottom: 10px;
}

h3 {
    margin-top: 20px;
    margin-bottom: 10px;
}

ul {
    list-style-type: disc;
    padding-left: 20px;
}

ol {
    list-style-type: decimal;
    padding-left: 20px;
}

p {
    margin: 10px 0;
}
